#container {
    width: 80%;
    margin: auto;
}

.Status {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#Timer {
    margin-top: 16px;
}

.status-element {
    padding-left: 10px;
    padding-right: 10px;
} 

#PauseIcon {
    margin: 16px;
    cursor: pointer;
}

#EasyMode:hover, #MediumMode:hover, #HardMode:hover {
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(171, 169, 169);
}


#SudokuGame {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#Board {
    border-collapse: collapse;
    display: flex;
    height: 450px;
    width: 450px;
    background-color: #fff;
    margin-right: 30px;
    justify-content: center;
    align-items: center;

}

#SudokuTool {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#SudokuHelper .i {
    text-align: 10px;
}

#SudokuHelper {
    display: flex;
    justify-content: space-between;
}

#SudokuHelper .fa-solid {
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
    background-color:#eaeef4 ;
    margin-bottom: 10px;
}

#SudokuHelper .fa-solid:hover {
    cursor: pointer;
    background-color: #c4c7cc;
}

#NumberTable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.NumberValue {
    width: 50px;
    height: 50px;
    background-color: #eaeef4;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.NumberValue:hover {
    background-color: #c4c7cc;
    cursor: pointer;
}

#NewGame {
    background-color: #5a7bc0;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-weight: bold;
    font-size: larger;
    color:aliceblue;
    border-radius: 7px;
}

#NewGame:hover {
    background-color: #2e54a8;
    cursor: pointer;
}

.thick-border-left {
    border-left: 3px solid #000;
}

.thick-border-right {
    border-right: 3px solid #000;
}

.thick-border-top {
    border-top: 3px solid #000;
}

.thick-border-bottom {
    border-bottom: 3px solid #000;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

td.selected {
    background-color: #c4c7cc; 
}

